socradar-sentinel-integration-arm.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "SOCRadar-CloseAlarm-OnIncidentClose"
    },
    "SOCRadarAPIKey": {
      "type": "SecureString"
    },
    "SOCRadarAPIEndpoint": {
      "type": "String",
      "defaultValue": "https://platform.socradar.com/api"
    },
    "SOCRadarCompanyId": {
      "type": "String",
      "defaultValue": "330"
    },
    "SentinelConnectionName": {
      "type": "String",
      "defaultValue": "azuresentinel",
      "metadata": {
        "description": "Azure Sentinel API Connection adı"
      }
    }
  },
  "variables": {
    "sentinelConnectionId": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connections/', parameters('SentinelConnectionName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[resourceGroup().location]",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "SOCRadarAPIKey": {
              "type": "SecureString"
            },
            "SOCRadarAPIEndpoint": {
              "type": "String"
            },
            "SOCRadarCompanyId": {
              "type": "String"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Initialize_AlarmID": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "AlarmID",
                    "type": "string",
                    "value": ""
                  }
                ]
              }
            },
            "Check_Incident_Status": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@triggerBody()?['object']?['properties']?['status']",
                      "Closed"
                    ]
                  }
                ]
              },
              "runAfter": {
                "Initialize_AlarmID": ["Succeeded"]
              },
              "actions": {
                "Extract_AlarmID_From_Title": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "AlarmID",
                    "value": "@if(empty(triggerBody()?['object']?['properties']?['title']), '', trim(last(split(triggerBody()?['object']?['properties']?['title'], '-'))))"
                  }
                },
                "Determine_Close_Reason": {
                  "type": "Switch",
                  "expression": "@coalesce(triggerBody()?['object']?['properties']?['classification'], 'Unknown')",
                  "runAfter": {
                    "Extract_AlarmID_From_Title": ["Succeeded"]
                  },
                  "cases": {
                    "FalsePositive": {
                      "case": "FalsePositive",
                      "actions": {
                        "Close_as_False_Positive_in_SOCRadar": {
                          "type": "Http",
                          "inputs": {
                            "method": "POST",
                            "uri": "@{concat(parameters('SOCRadarAPIEndpoint'), '/company/', parameters('SOCRadarCompanyId'), '/alarms/status/change')}",
                            "headers": {
                              "Authorization": "Bearer @{parameters('SOCRadarAPIKey')}",
                              "Content-Type": "application/json"
                            },
                            "body": {
                              "alarm_ids": ["@{variables('AlarmID')}"],
                              "status": 9,
                              "comments": "@{concat('❌ False Positive - Sentinel Incident: ', coalesce(triggerBody()?['object']?['properties']?['incidentNumber'], 'Unknown'))}"
                            }
                          }
                        }
                      }
                    }
                  },
                  "default": {
                    "actions": {
                      "Close_as_Resolved_in_SOCRadar": {
                        "type": "Http",
                        "inputs": {
                          "method": "POST",
                          "uri": "@{concat(parameters('SOCRadarAPIEndpoint'), '/company/', parameters('SOCRadarCompanyId'), '/alarms/status/change')}",
                          "headers": {
                            "Authorization": "Bearer @{parameters('SOCRadarAPIKey')}",
                            "Content-Type": "application/json"
                          },
                          "body": {
                            "alarm_ids": ["@{variables('AlarmID')}"],
                            "status": 2,
                            "comments": "@{concat('✅ Resolved - Sentinel Incident: ', coalesce(triggerBody()?['object']?['properties']?['incidentNumber'], 'Unknown'))}"
                          }
                        }
                      }
                    }
                  }
                },
                "Add_Comment_To_Sentinel_Incident": {
                  "type": "ApiConnection",
                  "runAfter": {
                    "Determine_Close_Reason": ["Succeeded"]
                  },
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/Incidents/Comment",
                    "body": {
                      "incidentArmId": "@triggerBody()?['object']?['id']",
                      "message": "@{concat('✅ SOCRadar alarm updated. Alarm ID: ', coalesce(variables('AlarmID'), 'Unknown'))}"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[variables('sentinelConnectionId')]",
                "connectionName": "[parameters('SentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
              }
            }
          },
          "SOCRadarAPIKey": {
            "value": "[parameters('SOCRadarAPIKey')]"
          },
          "SOCRadarAPIEndpoint": {
            "value": "[parameters('SOCRadarAPIEndpoint')]"
          },
          "SOCRadarCompanyId": {
            "value": "[parameters('SOCRadarCompanyId')]"
          }
        }
      }
    }
  ]
}
